
.masonry-item {
  border: white solid 3px;
  min-width: 600px;


}

.caption {
  color: white;
  font-size: 10px;
  background-color: dimgray;

  position: absolute;
  top: 20%;
  left: 10%;

}

.masonry {
  margin: 0;
}

.section {
  margin: 0;
}

.img { float : right;}



