.masonry {
  text-align: center;
  min-width: 80%;
}

.masonry-item {
  border: white solid 3px;
  min-width: 40%;


}

.variation {
  min-width: 100%;
}


.gigante {
  min-width: 100%;
  z-index: 1000;
}

.caption {
  color: white;
  font-size: 2rem;
  background-color: dimgray;
  display: block;
  position: absolute;
  top: 20%;
  left: 10%;

}
